=====================================================
============= 15:40:30 --- GAME STARTED =============
=====================================================
-----------------------------------------------------
--------------------- ROUND n°1 ---------------------
-----------------------------------------------------
- John play A♠. Cards remaining: "nb"
- Marie play 10♠. Cards remaining: "nb"
- Jack play 5♠. Cards remaining: "nb"
- Jane play 8♠. Cards remaining: "nb"
-----------------------------------------------------
--------------------- ROUND n°2 --------------------- 
-----------------------------------------------------
- John play A♠. Cards remaining: "nb"
- Marie play 10♠. Cards remaining: "nb"
- Jack play 5♠. Cards remaining: "nb"
- Jane play 8♠. Cards remaining: "nb"
-----------------------------------------------------
--------------------- ROUND n°3 --------------------- 
-----------------------------------------------------
- John play A♠. Cards remaining: "nb"
- Marie play 10♠. Cards remaining: "nb"
- Jack play 5♠. Cards remaining: "nb"
- Jane play 8♠. Cards remaining: "nb"
=====================================================
============== 15:40:30 --- GAME ENDED ==============
=====================================================